*{
  margin:0;
  padding:0;
}

body{
  background-color:#F8F8FF;
}


#container{
  width:1000px;
  margin:10px auto;
}

#mainPanel{
  margin-top:30px;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  min-height: 150px;
}

#mainPanel.win{
  color:red;
}

#mainPanel.win::after{
  content:"選手\A当選おめでとう！";
  white-space:pre;
}

textarea{
  margin:50px auto;
  display:block;
}

#candidateArea{
  margin-top:50px;
  list-style:none;
  display:grid;
  grid-template-columns: repeat(4,auto);
  grid-auto-rows:30px;
  gap:20px;
  min-height: 200px;
}

#candidateArea li{
  font-size:20px;
  font-weight: bold;
  width:200px;
  height:30px;
  text-align: center;
  line-height: 30px;
  padding:5px;
  background-color: #00008B;
  color:white;
  border-radius: 4px;
}

#candidateArea li.active{
  background-color: #FF4500;
  color:white;
}

#candidateArea li.win{
  background-color: #FF69B4;
  color:white;
}

#btnArea{
  list-style: none;
  display:flex;
  justify-content: space-evenly;
  width:500px;
  margin:50px auto;
}

#btnArea li{
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
}

#btnArea li:active{
  position: relative;
  top:5px;
  box-shadow:none;
}

#start{
  background-color: #7CFC00;
  box-shadow:0 5px #32CD32;
}

#stop{
  background-color: #f73030;
  box-shadow:0 5px #B22222;
}